.page {
  min-height: 100dvh;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: row;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--background);
}

.footer {
  display: flex;
}


@media (prefers-color-scheme: dark) {
  .header__logo {
    filter: invert();
  }
}


/* Apply to all but bottom list item */
.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

/* Dark mode query selector */
@media (prefers-color-scheme: dark) {

}


