.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: var(--accent);
  padding: 1em;
  gap: 1em
}

.sidebar__header {
  display: flex;
}

.sidebar__logo {
  fill: white;
  width: 40px
}

.sidebar__logo svg {
  fill: var(--foreground);
  color: var(--foreground);
}

.sidebar__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar__nav > li:not(:last-of-type) {
  padding-right: 1em;
}